<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Order Confirmed!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
  <p>Your Order has been successfully placed !</p>
</ion-col>
</ion-row>
  <!-- <ion-list>
  <ion-item>
    <ion-label>
    Select Delivery Date:
    </ion-label>
    <ion-datetime
      displayFormat="MMM DD, YYYY"
      max="2056"
      [(ngModel)]="conferenceDate">
    </ion-datetime>
  </ion-item>
</ion-list>
<ion-row>
  <ion-col class="heading">
    <h5>New Address</h5>
  </ion-col>
  <ion-col>
    <ion-button class="button" color="light" expand="block">Use default</ion-button>
  </ion-col>
</ion-row>
<form>
  <ion-card>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-item>
            <ion-label position="floating">Flat / Plot No.</ion-label>
            <ion-input  name="fnumber" type="text"  ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Street</ion-label>
            <ion-input name="street" type="text"  ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Area</ion-label>
            <ion-input name="area" type="text"  ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Pincode</ion-label>
            <ion-input name="pincode" type="number"  ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">State</ion-label>
            <ion-input name="state" type="text"  ngModel required></ion-input>
          </ion-item>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</form>

<ion-button class="confirm"  color="success" expand="block">Confirm</ion-button> -->

</ion-content>
