.padding{
  padding-left: 18px;
  position: relative;
}
.button{
  margin:auto;
  display:block;
  padding-top: 10px;
  padding-right: 8px;
}
.heading{
  padding-left: 12px;
}
.confirm{
  padding-left: 10px;
  padding-right: 10px;


}
