<!-- <div class="container">
  <h2>Pending Orders</h2>
  <br><br>

<div class="container">
  <table align-text="center" class="table table-hover ">
    <thead class="thead thead-dark">
      <tr>
        <th>Order-ID</th>
        <th>Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John</td>
        <td>Flour</td>
        <td>5 kg</td>
        <td>200/-</td>

        <td>
          <div class="btn-group">
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              Assign<span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Boy1</a></li>
                <li><a href="#">Boy2</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-danger">Decline</button>

          </div></td>
      </tr>

      <tr>
            <td>2</td>
            <td>NAN</td>
            <td>Flour</td>
            <td>5 kg</td>
            <td>200/-</td>

            <td><div class="btn-group">
              <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Assign<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Boy1</a></li>
                  <li><a href="#">Boy2</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-danger">Decline</button>

            </div></td>

          </tr>

      <tr>
                <td>3</td>
                <td>sdfb</td>
                <td>Flour</td>
                <td>5 kg</td>
                <td>200/-</td>

                <td><div class="btn-group">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Assign<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Boy1</a></li>
                      <li><a href="#">Boy2</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-danger">Decline</button>

                </div></td>
            </tr>

    </tbody>
  </table>
</div> -->
<div class="container">
  <h1>Pending Orders</h1>
</div>
  <br>
  <br>
<div class="container">
<table align-text="center" class="table">
  <thead class="thead thead-dark">
    <tr>
      <th>Order-ID</th>
      <th>Name</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Flour</td>
      <td>5 kg</td>
      <td>200/-</td>

      <td>
        <div class="btn-group">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            Assign<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="#">Boy1</a></li>
              <li><a class="dropdown-item" href="#">Boy2</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-danger">Decline</button>

        </div></td>
    </tr>

    <tr>
          <td>2</td>
          <td>NAN</td>
          <td>Flour</td>
          <td>5 kg</td>
          <td>200/-</td>

          <td><div class="btn-group">
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              Assign<span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="#">Boy1</a></li>
                <li><a class="dropdown-item" href="#">Boy2</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-danger">Decline</button>

          </div></td>

        </tr>

    <tr>
              <td>3</td>
              <td>sdfb</td>
              <td>Flour</td>
              <td>5 kg</td>
              <td>200/-</td>

              <td><div class="btn-group">
                <div class="btn-group">
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  Assign<span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="#">Boy1</a></li>
                    <li><a class="dropdown-item" href="#">Boy2</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-danger">Decline</button>

              </div></td>
          </tr>

  </tbody>
</table>
</div>
